In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import db_password

In [3]:
#create connection to database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/DbFinalProject"
engine = create_engine(db_string)

In [4]:
#import googleplaystore data
df = pd.read_sql_table('googleplaystore_data', con=engine)
df.head()

,app_id,app_name,category,app_type,content_rating,genres,sub_genre,rating,reviews,app_size,installs,price,last_updated
0,A0221,EF Spelling Bee,FAMILY,Free,Everyone,Education,1,3.0,2,9.400000,500,0,2017-10-12
1,A0268,ClassDojo,FAMILY,Free,Everyone,Education,1,4.4,148536,59.000000,10000000,0,2018-08-03
2,A0325,Learn Music Notes,FAMILY,Paid,Everyone,Music,1,4.7,143,4.400000,1000,1.99,2018-06-17
3,A0043,Soundtrack Attack,FAMILY,Free,Everyone,Action,1,4.3,96045,25.000000,5000000,0,2016-07-26
4,A0776,TNEB,BUSINESS,Free,Everyone,Business,0,3.8,1777,0.925781,100000,0,2014-05-18

In [5]:
df_encode = df.drop(columns=["app_id","app_name","last_updated"])
df_encode.head()

,category,app_type,content_rating,genres,sub_genre,rating,reviews,app_size,installs,price
0,FAMILY,Free,Everyone,Education,1,3.0,2,9.400000,500,0
1,FAMILY,Free,Everyone,Education,1,4.4,148536,59.000000,10000000,0
2,FAMILY,Paid,Everyone,Music,1,4.7,143,4.400000,1000,1.99
3,FAMILY,Free,Everyone,Action,1,4.3,96045,25.000000,5000000,0
4,BUSINESS,Free,Everyone,Business,0,3.8,1777,0.925781,100000,0

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df_encode.copy()
df2['app_type'] = le.fit_transform(df2['app_type'])
df2['category'] = le.fit_transform(df2['category'])
df2['content_rating'] = le.fit_transform(df2['content_rating'])
df2['genres'] = le.fit_transform(df2['genres'])

df2.head()

,category,app_type,content_rating,genres,sub_genre,rating,reviews,app_size,installs,price
0,11,0,1,15,1,3.0,2,9.400000,500,0
1,11,0,1,15,1,4.4,148536,59.000000,10000000,0
2,11,1,1,27,1,4.7,143,4.400000,1000,1.99
3,11,0,1,0,1,4.3,96045,25.000000,5000000,0
4,4,0,1,8,0,3.8,1777,0.925781,100000,0

In [7]:
y = df2["rating"]
X = df2.drop(columns="rating")

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
# Train the data
classifier.fit(X_train, y_train)

In [ ]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

# Validate model using test data

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)